<%= form_tag({}) do -%>
  <table class="list related-issues">
    <caption><%= l(:label_related_issues) %></caption>
    <% issues.each do |issue| -%>
      <tr class="hascontextmenu">
        <td class="checkbox"><%= check_box_tag 'ids[]', issue.id %></td>
        <td style="text-align: left;"><%= link_to_issue(issue, :project => (@project != issue.project)) %></td>
      </tr>
    <% end -%>
  </table>
<% end %>
