<h2><%=l(:label_iteration_new)%></h2>

<% labelled_tabular_form_for @iteration, :url => project_iterations_path(@project) do |f| %>
<%= render :partial => 'iterations/form', :locals => { :f => f } %>
<%= submit_tag l(:button_create) %>
<% end %>
