<h3><%= l(:label_charts_menu) %></h3>

<%= link_to l(:label_burndown_chart), { :controller => :graph, :action => :burndown } %><br />
<%= link_to l(:label_burnup_chart), { :controller => :graph, :action => :burnup } %><br />
<%= link_to l(:label_issue_status_chart), { :controller => :graph, :action => :issue_status } %><br />
