<% html_title(l(:label_charts_menu)) -%>

<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>

<h2><%= l(:label_issue_status_chart) %></h2>


<script type="text/javascript">
$(function(){
        Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
        return {
            radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });
var chart = new Highcharts.Chart({
  chart: {
    renderTo: 'container',
    type: 'pie',
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false
  },
  title: {
    text: ''
  },
  tooltip: {
    pointFormat: '<b>{point.percentage:.1f} %</b>'
  },
  plotOptions: {
      pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
              enabled: true,
              color: '#000000',
              connectorColor: '#000000',
              format: '<b>{point.name}</b>: {point.percentage:.1f} %'
          }
      }
  },
  series: [{
    data: <%= @rows.html_safe %>
  }]
});
});
</script>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
